.select-ticket {
    width: 700px;
    margin-left: 14%;

    .select-ticket-title {
        color: #343A40;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    .image {
        width: 700px;
    }
}